@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --red:#ff3838;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

*::selection{
  background:var(--red);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
  background:#f7f7f7;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}

.heading span{
  color:var(--red);
}



header{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#fff;
  padding:2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#666;
}

header .logo i{
  padding-right: .5rem;
  color:var(--red);
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2rem;
  color:#666;
}

header .navbar a:hover{
  color:var(--red);
}

#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color:#666;
  border:.1rem solid #666;
  border-radius: .3rem;
  padding:.5rem 1.5rem;
  display: none;
}


.loader-container{
  position: fixed;
  top:0; left:0;
  z-index: 10000;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
}

.loader-container.fade-out{
  top:-120%;
}














/* media queries  */

@media(max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media(max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background: #f7f7f7;
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    margin: 1.5rem;
    padding:1.5rem;
    display: block;
    border:.2rem solid rgba(0,0,0,.1);
    border-left:.5rem solid var(--red);
    background:#fff;
  }


  #main{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top:30px;
    grid-gap: 5%;
    padding: 5%;
    font-size: 12px;
    text-align: center;
    margin-bottom:20px;
  }
  #main div >p{
    position: relative;
    left: 40px;
  }

}

@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .order .row form .inputBox input{
    width:100%;
  }

  #main{
    display: grid;
    grid-template-columns: repeat(1, 90%);
    margin-top:30px;
    grid-gap: 5%;
    padding: 5%;
    font-size: 12px;
    text-align: center;
    margin-bottom:20px;
  }
  #main div >p{
    position: relative;
    left: 40px;
  }

}


/* random */


#main{
  display: grid;
  grid-template-columns: repeat(4, 20%);
  margin-top:30px;
  grid-gap: 5%;
  padding: 5%;
  font-size: 15px;
  text-align: center;
  margin-bottom:20px;
}
#main div >p{
  position: relative;
  left: 40px;
}



#ofmain{
  /* display: grid;
  grid-template-columns: repeat(4, 20%);
  margin-top:30px;
  grid-gap: 5%;
  padding: 5%; */

  margin-top:150px;
  margin-left: 80px;
  font-size: 15px;
  text-align: center;
  margin-bottom:20px;
}

#dd{
  display: flex;
}
#dd >img{
  width: 250px;
  height: 200px;
}

#dd >div1{
  width: 100%;

}


input{
  position: relative;
  top:100px;
  width: 30%;
  height: 40px;
  left: 50px;
  border: 3px solid green;
}